
<h2>Inisio de sesión</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Su correito</label>
  <input id="username" type="text" name="username" placeholder="orale@nomás.com">

  <br><br>

  <label for="password">Contraseña</label>
  <input id="password" type="password" name="password" placeholder="Que no le vean mijo">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Inisiar sesión</button>

  <p class="account-message">
    Que no tiene cuenta? Pues regístrese pendejo
    <a href="/auth/signup">Regístreme</a>
    <a href="/">Vuelve a la home careverga</a>
  </p>
</form>
