<!-- views/auth/signup.hbs -->
<h2>Registrese mi carnalito</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Nombresito</label>
  <input id="username" type="text" name="username" placeholder="Minimo 2 nombres">

  <br><br>

  <label for="password">Contraseña</label>
  <input id="password" type="password" name="password" placeholder="Que no le vean mijo">
   <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Su correito mi pana">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Regístreme pero YA</button>

  <p class="account-message">
    Usted ya anda con cuenta mugroso?
    <a href="/auth/login">Inisiar sesión</a>
  </p>
</form>
