<h1>ESTE ES EL CARRITO MUGROSO</h1>
<a href="/catalog">Siga gastando pesitos</a>

{{#if user}}
{{#each carrito}}
<ul> 
    <li> 
{{this.name}}
<a href="/delete/{{this._id}}"> Delete </a>
</li>
</ul>
{{/each}}
{{/if}}

<a href="/"> Lleváme a casa </a>