
{{#if user}}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/about">Sobre nosotras</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/auth/logout">Logout</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cart">Su carromato</a>
  </li>
</ul>
{{else}}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/auth/login">Inisie Sesión</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/auth/signup">Regístrese Parcero</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">Sobre nosotras</a>
</ul>
{{/if}}


<div class="hero-image">
 <div class="hero-text">
<div>
  <div>
<h1></h1>
</div>
{{#if user}}
<p> Órale {{user.username}} </p>
{{else}}
<p>Bienvenidos mijitos</p>
{{/if}}

  <h1>PASIÓN ENTRE ALGODONES</h1>
 <h5>Nuestros bellos productos</h5>
  <a href="/catalog" class="btn btn-primary">JOYIAS</a>
 </div>
</div>

<div class="card-body">
 

 
</div>

</div>
