<h1>CAIGANSE CON LA LANA</h1>
<h3>Introdusca su narcotarjeta</h3>

{{#if user}}

<form action="post">
    <img src="http://res.cloudinary.com/dhxxqnbqa/image/upload/v1524817966/png-visa-contact-us-788.png" class="tarjeta" alt="">
    <br>
    <input type="text" name= "numtarjeta" placeholder="Su numero de tarjetica">
    <br>
    <input type="text" name= "nombretitular" placeholder="Nombre del titular">
    <br>
    <input type="text" name= "CVV" placeholder="Los 3 numeros magicos"> 
    
</form>
<a href="/buy/{{user.id}}">Ya quiero pagarle wey</a> 

{{/if}}
<a href="/cart">Me arrepentí</a>